<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Car Models</title>
    <script data-main="js/main" src="js/libs/require.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Cars list</h1>
      <div class="modal fade" id="myModal" role="dialog">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Location</th>
            <th>Action</th>
          </tr>
          <tr>
            <td><input class="form-control name-input" /></td>
            <td><input class="form-control brand-input" /></td>
            <td><input class="form-control location-input" /></td>
            <td><button class="btn btn-primary add-car">ADD</button></td>
          </tr>
        </thead>
        <tbody class="cars-list"></tbody>
      </table>
    </div>
    </div>
    <script type="text/template" class="cars-list-template">
      <td><span class="name"><%= name %></span></td>
      <td><span class="brand"><%= brand %></span></td>
      <td><span class="location"><%= location %></span></td>
      <td>
            <button class="btn btn-warning edit-car">EDIT</button>
            <button class= " btn btn-danger delete-car">DELETE</button>
            <button class="btn btn-success update-car" style="display:none">UPDATE</button>
            <button class="btn btn-danger cancel" style="display:none">CANCEL</button></td>
    </script>
  </body>
</html>
