<!-- <script type="text/template" class="cars-list-template">
    <td><span class="name"><%= name %></span></td>
    <td><span class="name"><%= brand %></span></td>
    <td><span class="name"><%= location %></span></td>
    <td>
          <button class="btn btn-warning edit-car">EDIT</button>
          <button class= " btn btn-danger delete-car">DELETE</button>
          <button class="btn btn-success update-car" style="display:none">UPDATE</button>
          <button class="btn btn-danger cancel" style="display:none">CANCEL</button></td>
  </script> -->

<td><span class="name">< % = name %></span></td>
<td><span class="brand"><%= brand %></span></td>
<td><span class="location"><%= location %></span></td>
<td>
  <button class="btn btn-warning edit-car">EDIT</button>
  <button class="btn btn-danger delete-car">DELETE</button>
  <button class="btn btn-success update-car" style="display: none;">
    UPDATE
  </button>
  <button class="btn btn-danger cancel" style="display: none;">CANCEL</button>
</td>
